.opgg_header{
    border: 1px solid blue;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1f;
    .opgg_header_left{
        border: 2px solid brown;
        display: flex;
        flex-direction: row;
        align-items: center;
        .opgg_logo{
            padding: 0 24px;
        }
        .opgg_header_left_container{
            border: 2px solid black;
            display: flex;
            flex-direction: row;
            gap: 8px;
            li{
                border: 2px solid  aqua;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                color: #fff;
                align-items: center;
                gap: 8px;
                .score_image_one{
                    width: 24px;
                    height: 24px;
                }
                .score_image_two{
                    width: 24px;
                    height: 24px;
                }
                .score_image_three{
                    width: 24px;
                    height: 24px;
                }
                .score_image_four{
                    width: 24px;
                    height: 24px;
                }
                .score_image_five{
                    width: 24px;
                    height: 24px;
                }
                .score_image_six{
                    width: 24px;
                    height: 24px;
                }
                .score_image_seven{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    .opgg_header_right{
        border: 2px solid orangered;
        display: flex;
        flex-direction: row;
    }
}
head{
    display: none;
}
body{
    height: fit-content;
}